body{
	margin:10px;
	padding:10px;
	font-family:"Arial";
}

/* HEADER STYLING*/

header{
	background:#6eabe5;
	background:url("../imgs/kudammCut.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	padding:10px;
	text-align:center;
	margin-bottom:2%;
}

header h1{
	color:#FFFFFF;
	font-size: 180%;
	text-shadow:2px 0 black;
	text-align:right;
	font-family:"Arial";
}

header h2{
	color:#FFFFFF;
	font-size: 100%;
	font-family:"Arial";
	text-shadow:2px 0 black;
	text-align:right;
}

/* Navigation */

nav div
{
	display: inline-block;
	width:10%;
	margin:0.25% 2% 2%;
	/*border: 2px solid;*/
}

nav a
{
	display: inline-block;
	text-decoration: none;
	text-align:center;
	padding: 13px;
	color:#000000;
	background-color:rgba(255,255,255,.8);
	width: 100%;
	border-radius:10px;
	border:1px solid;
	/*margin:0.25% 2% 2%;*/
}

/*nav a.image
{
	display:inline-block;
	text-align:center;
	padding:7px;
	width:100%;
}*/

nav img
{
	display:inline-block;
	height:25px;
	margin:-7%;
	width: 70px;
}

.active
{
	background:#FFFFFF;
	color: #0006CC;
}

nav a:hover
{
	background:#FFFFFF;
}

.dropdown a
{
	width:100%;
}

div.dropdown-content {
    display: none;
    position: absolute;
    margin-left:-.1%;
    margin-top:-2px;
    width: 9.55%;
    z-index: 1;
    /*border: 2px solid;*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #000000;
    text-decoration: none;
    margin-top:5%;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
	background-color:#FFFFFF
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
    display: block;
}

/* MAIN STYLING*/

	/*Generic- ALL PAGES*/

.right
{
	float:right;
}

.left{
	float:left;
}

	/*Index Page*/

main.home>figure.left{
	width:20%;
	padding-left:2%;
}

main.home img{
	width:85%;
	display:block;
	margin: 0 auto;
	border: 2px solid;
}

main.home div.right{
	display:inline-block;
	width:60%;
	padding-right:5%;
	height: 350px;
	overflow:hidden;
}

main.home div.right h2{
	font-size:22px;
	font-family:"Arial";
	color:#96bee2;
	text-shadow:1px 0 #000000;
}

main.home div.right p{
	font-size:14px;
}

	/*About Page*/

aside{
	display:inline-block;
	width:35%;
	height:100%;
}

aside img{
	display:block;
	width:90%;
	border:2px solid #000000;
	margin:2%;
}

main.about div{
	display:inline-block;
	width: 58%;
	height:100%;
	padding-right:4%;
}

main.about div.right h2{
	font-size:24px;
	font-family:"Arial";
	color:#96bee2;
	text-shadow:1px 0 #000000;
}

/*CV Page*/

div.head
{
	border:1px solid;
	background:#96bee2;
	clear:both;
}

/*section */
div.head h1
{
	font-size: 30px;
	font-family:"Arial";
	color: #FFFFFF;
	text-shadow:2px 0 black;
	text-align:center;
}

div.head img
{
	width:50px;
	display:inline-block;
	float:right;
	margin-top:-6%;
}

/* Education Section*/

div.left.education{
	display: inline-block;
	width:30%;
	height:135px;
	margin: 1%;
	padding: 1%;
}

div.left.education img{
	display:block;
	width:75%;
	padding:2px;
	border: 2px solid;
}

div.right.education{
	display: inline-block;
	width:62%;
	height:135px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.education h2{
	margin:0;
	font-size:18px;
}

div.right.education p{
	font-size:14px;
	margin:0;
}

div.right.education ul{
	font-size:14px;
	margin:0;
}

/*Skills Section*/
div.left.skills{
	display: inline-block;
	width:25%;
	height:600px;
	margin-left: 2%;
	padding: 1%;
	padding-left:5%;
	padding-top:2%;
	overflow:hidden;
}

div.left.skills img{
	display:block;
	padding: 2px;
	width:60%;
	border:2px solid #000000;
	margin-bottom:6%;
}

div.right.skills{
	display: inline-block;
	width:62%;
	height:600px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.skills h2{
	font-size:18px;
}

div.right.skills ul{
	font-size:14px;
	margin:0;
}

/* Experience Section*/

/* Left DIVS */

div.left.experience{
	display: inline-block;
	width:30%;
	height:230px;
	margin: 1%;
	padding: 1%;
}

div.left.experience.covanta{
	display: inline-block;
	width:30%;
	height:230px;
	margin: 1%;
	padding: 1%;
}

div.left.experience.eraz{
	display: inline-block;
	width:30%;
	height:290px;
	margin: 1%;
	padding: 1%;
}

div.left.experience.mspc{
	display: inline-block;
	width:30%;
	height:190px;
	margin: 1%;
	padding: 1%;
}

div.left.experience.mirra{
	display: inline-block;
	width:30%;
	height:230px;
	margin: 1%;
	padding: 1%;
}

div.left.experience.axp{
	display: inline-block;
	width:30%;
	height:190px;
	margin: 1%;
	padding: 1%;
}

div.left.experience img{
	display:block;
	width:80%;
	padding:2px;
	border:2px solid #000000;
}

div.left.experience.eraz img{
	display:block;
	width:32%;
	border:2px solid #000000;
	margin-bottom:7%;
	margin-left:25%;
}

div.left.experience.mspc img{
	display:block;
	width:50%;
	border:2px solid #000000;
	margin-bottom:7%;
	margin-left:15%;
}

div.left.experience.mirra img{
	display:block;
	width:50%;
	border:2px solid #000000;
	margin-bottom:7%;
	margin-left:15%;
}

div.left.experience.axp img{
	display:block;
	width:35%;
	border:2px solid #000000;
	margin-bottom:7%;
	margin-left:22%;
}

/* right DIVS */

div.right.experience{
	display: inline-block;
	width:62%;
	height:230px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience.covanta{
	display: inline-block;
	width:62%;
	height:230px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience.eraz{
	display: inline-block;
	width:62%;
	height:290px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience.mspc{
	display: inline-block;
	width:62%;
	height:190px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience.mirra{
	display: inline-block;
	width:62%;
	height:230px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience.axp{
	display: inline-block;
	width:62%;
	height:190px;
	margin: 1%;
	padding: 1%;
	overflow:hidden;
}

div.right.experience h2{
	margin:0;
	font-size:18px;
}

div.right.experience p{
	font-size:14px;
	margin:0;
}

div.right.experience ul{
	font-size:14px;
	margin:0;
}

/*Coursework Styling*/

div.courseWork ul{
	padding-left:39%;
	font-size:14px;
}

/*CONTACT PAGE */

main.contact>figure.left{
	display:inline-block;
	width:20%;
	padding-left:2%;
}

main.contact img{
	width:85%;
	display:block;
	margin: 0 auto;
	border: 2px solid;
}

main.contact div.right{
	display:inline-block;
	width:50%;
	padding-top:5%;
	padding-right:13%;
	height:260px;
	overflow:hidden;
}

main.contact div.right h2{
	text-align:center;
	font-size:24px;
	font-family:"Arial";
	color:#96bee2;
	text-shadow:1px 0 #000000;
}

main.contact div.right p{
	text-align:center;
	font-size:18px;
}

/*FOOTER STYLING*/

footer{
	padding: 2%;
	text-align:center;
	background:#96bee2;
	clear:both;
	font-family:"Arial";
	text-shadow:2px 0 black;
	color:#FFFFFF;
	font-size:18px;
}