{% extends 'base.html' %}

{% block title %}

CV

{% endblock %}

{% block body %}

	<body>

{% endblock %}

{% block header %}

	<header>

{% endblock %}

{% block main %}

	<main class="cv">
		<div class="container">
			<section>
				<div class="row head" id="education">
					<div class="col-sm-12">
						<a onclick="openClose('education')">
							<i id="educationIcon" class="fa fa-minus-circle fa-2x"></i>
						</a>
						<h1>Education</h1>
						<a href="#top">
							<img src= "{{ url_for('static', filename='imgs/arrowUp.png') }}" alt= "Arrow Up">
						</a>
					</div>
				</div>
			</section>
			<section id="educationContent" class="cvContent">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/oxford.png') }}" alt= "Oxford">
		  		</div>
		  		<div class="col-sm-12 col-md-8">
		  			<h2>University of Oxford</h2>
		  			<p>Oxford, England, United Kingdom</p>
		  			<p>Advanced Diploma in Data &amp; Systems Analysis, October 2016</p>
		  		 	<ul>
				 			<li>GPA: 1.0 (USA GPA Equivalent: 4.0)</li>
				    	<li>Distinction: 98.20% Course Average</li>
			    	</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
		  		<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/rutgers.png') }}" alt= "Rutgers">
		  		</div>
		  		<div class="col-sm-12 col-md-8">
		  			<h2>Rutgers University</h2>
		  			<p>New Brunswick, New Jersey, United States of America</p>
		  			<p>Master of Science in Financial Accounting, May 2011</p>
		  			<ul>
				 			<li>GPA: 3.57 (EU GPA Equivalent: 1.43)</li>
			     	</ul>
						<p>Bachelor of Science in Accounting &amp; Minor in Music, May 2010</p>
						<ul>
							<li>GPA: 3.36 (EU GPA Equivalent: 1.64)</li>
							<li>Beta Alpha Psi– Accounting and Finance Honors Fraternity, inducted in April 2009</li>
							<li>National Society of Collegiate Scholars, inducted in December 2006</li>
						</ul>
		  		</div>
				</div>
			</section>
			<section>
				<div class="row head" id="skills">
					<div class="col-sm-12">
						<a onclick="openClose('skills')">
							<i id="skillsIcon" class="fa fa-minus-circle fa-2x"></i>
						</a>
						<h1>Skills</h1>
						<a href="#top">
							<img src= "{{ url_for('static', filename='imgs/arrowUp.png') }}" alt= "Arrow Up">
						</a>
					</div>
				</div>
			</section>
			<section id="skillsContent" class="cvContent">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/microsoftOffice.png') }}" alt= "Microsoft Office">
		  		</div>
		  		<div class="col-sm-12 col-md-8">
		      	<h2>Microsoft Office – 12+ years</h2>
			      <ul>
							<li>Word – 20+ years</li>
							<li>Excel – 14 years, 1 Certification</li>
							<li>PowerPoint – 13 years</li>
							<li>Outlook – 6 years</li>
						</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/microsoftSQLServer.png') }}" alt= "Microsoft SQL Server">
						<img src= "{{ url_for('static', filename='imgs/elkStack.png') }}" alt= "ELK Stack">
						<img src= "{{ url_for('static', filename='imgs/datadog.png') }}" alt= "Datadog">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Database – 4 years</h2>
						<ul>
							<li>SQL (Structured Query Language) – 4 years, 3 Certifications</li>
							<ul>
								<li>Microsoft SQL Server – 3.5 years</li>
								<li>MySQL– 3 years</li>
								<li>Microsoft Access – 6 months</li>
								<li>SQL Server Reporting Services – 3 months</li>
							</ul>
							<li>ELK Stack (ElasticSearch, LogStash, Kibana) – 1.5 years</li>
							<ul>
								<li>Lucene Query Syntax – 1.5 years</li>
								<li>Graphana – 3 months</li>
							</ul>
							<li>Datadog – 3 months</li>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/php.png') }}" alt= "PHP">
						<img src= "{{ url_for('static', filename='imgs/python.png') }}" alt= "Python">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Server-Side – 3 years</h2>
						<ul>
							<li>PHP – 3 years, 3 Certifications</li>
							<ul>
								<li>Symfony (Silex, Symfony 4) – 2 years</li>
								<li>Composer – 2 years</li>
								<li>Twig – 2 years</li>
							</ul>
							<li>Python – 2.5 years, 6 Certifications</li>
							<ul>
								<li>Django – 3 months</li>
								<li>Flask – 3 months, 1 Certification</li>
								<li>Jinja2 - 3 months, 1 Certification</li>
							</ul>
							<li>Node.js – 3 months, 2 Certifications</li>
							<li>R – 3 months, 1 Certification</li>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/hTML5_CSS_JavaScript.png') }}" alt= "HTML5, CSS3, JavaScript">
						<img src= "{{ url_for('static', filename='imgs/react.png') }}" alt= "React">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Front-End – 3 years</h2>
						<ul>
							<li>HTML – 3 years, 1 Certification</li>
							<li>CSS – 2 years, 1 Certification</li>
								<ul>
									<li>Bootstrap 4 - 6 months, 1 Certification</li>
								</ul>
							<li>JavaScript – 6 months, 2 Certifications</li>
								<ul>
									<li>JSON – 6 months, 1 Certification</li>
									<li>jQuery – 3 months, 1 Certification</li>
									<li>React – 3 months, 1 Certification</li>
									<li>Redux – 3 months, 1 Certification</li>
									<li>NPM – 3 months, 1 Certification</li>
									<li>Yarn – 3 months, 1 Certification</li>
								</ul>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/docker.png') }}" alt= "Docker">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Development Platforms</h2>
						<ul>
							<li>Docker – 6 months, 1 Certification</li>
							<li>Apache Kafka – 6 months</li>
							<li>Google Cloud Platform - 3 months, 1 Certification</li>
							<li>Kubernetes - 3 months, 1 Certification</li>
							<li>Flux Architecture - 3 months</li>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/mvc.png') }}" alt= "MVC (Model View Controller)">
						<img src= "{{ url_for('static', filename='imgs/git.png') }}" alt= "Git">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Design Patterns, Version Control, Transfer Protocols &amp; Other Skills</h2>
						<ul>
							<li>MVC (Model-View-Controller) – 2.5 years</li>
							<li>Git – 2 years</li>
							<li>HTTP (HyperText Transfer Protocol) – 3 years</li>
							<li>FTP/SFTP (File Transfer Protocol & Secure File Transfer Protocol) – 3 years</li>
							<li>XML (Extensible Markup Language) – 2 years</li>
							<ul>
								<li>XSLT (Extensible Stylesheet Language Transformations) – 1 year</li>
								<li>XSD (XML Schema Definition) - 1 year</li>
							</ul>
							<li>GraphQL – 3 months, 2 Certifications</li>
						</ul>
					</div>
				</div>
			</section>
	  	<section>
				<div class="row head" id="experience">
					<div class="col-sm-12">
						<a onclick="openClose('experience')">
							<i id="experienceIcon" class="fa fa-minus-circle fa-2x"></i>
						</a>
						<h1>Experience</h1>
						<a href="#top">
							<img src= "{{ url_for('static', filename='imgs/arrowUp.png') }}" alt= "Arrow Up">
						</a>
					</div>
				</div>
			</section>
			<section id="experienceContent" class="cvContent">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/wayfairLarge.gif') }}" alt= "Wayfair">
						<img src= "{{ url_for('static', filename='imgs/allModern.png') }}" alt= "All Modern">
						<img src= "{{ url_for('static', filename='imgs/jossMain.jpg') }}" alt= "Joss &amp; Main">
						<img src= "{{ url_for('static', filename='imgs/birchLane.jpg') }}" alt= "Birch Lane">
						<img src= "{{ url_for('static', filename='imgs/perigold.png') }}" alt= "Perigold">
					</div>
		  		<div class="col-sm-12 col-md-8">
		  			<h2>Wayfair</h2>
		  			<p>Berlin, Germany</p>
						<p><i>Software Engineer</i>, August 2018 - present</p>
						<ul>
							<li>Member of a Full Stack Engineering team supporting the Company's Global Payments Platform.</li>
							<li>Implement new functionality and resolve bugs pertaining to the client, server and database layers of the company's enterprise software system.</li>
							<li>Collaborate and communicate with Product Managers in a fast-paced, agile environment to deploy software which meets functional demands and contributes to business goals.</li>
							<li>Create, calculate and analyze KPI's pertaining to sprint health, in addition to presenting the team's deliverables directly to stakeholders.</li>
						</ul>
						<br>
		  			<p><i>Product Manager - Data Integration</i>, August 2016 - August 2018</p>
		  			<ul>
					  	<li>Supervise and troubleshoot operational and finance-related data transfers for EU business partners with aggregate volume of over 100K files daily.</li>
							<li>Create and develop requirements specifications for the implementation of new carrier and supplier data integrations to increase profitability through efficient and cost-effective EDI.</li>
							<li>Create, calculate and analyze EDI business metrics for presentation to Senior Management and other stakeholders while simultaneously offering proposals for KPI improvement and growth.</li>
							<li>Effectively manage projects across multiple engineering departments to achieve data integration objectives requiring substantial and diverse input.</li>
			   		</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/move24.jpg') }}" alt= "Move 24">
						<img src= "{{ url_for('static', filename='imgs/movago.png') }}" alt= "Movago">
		  		</div>
		  		<div class="col-sm-12 col-md-8">
		  			<h2>Move24</h2>
		  			<p>Berlin, Germany</p>
		  			<p><i>Business Intelligence Intern</i>, May 2016 - August 2016</p>
		  			<ul>
				  		<li>Construct “backend-pricing” tools through “Big Data” analysis to increase sales and improve profitability pertaining to international business transactions.</li>
							<li>Develop optimization models relating to operations management in order to maximize profit and reduce costs for all European divisions.</li>
							<li>Extract data from the company databases through SQL, and subsequently formulate statistical models to identify KPI’s for the Sales, Marketing, Business Development and Operations departments.</li>
							<li>Create automated reports for Senior Management using Excel to formulate data extracted from multiple sources, including the Company’s CRM systems, databases and other external sources.</li>
			   		</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/covantaEnergy.png') }}" alt= "Covanta">
	  			</div>
	  			<div class="col-sm-12 col-md-8">
		  			<h2>Covanta</h2>
		  			<p>Morristown, New Jersey, United States of America</p>
		  			<p><i>Accounting Consultant</i>, August 2015 - May 2016</p>
		  			<p><i>Billing Analyst</i>, August 2014 - August 2015</p>
		  			<p><i>Accounts Receivable Coordinator</i>, March 2014 - August 2014</p>
		  			<ul>
				  		<li>Primary Billing Staff UAT tester for the corporation’s Oracle PeopleSoft 9.2 upgrade with security clearance as a system power user</li>
							<li>Process approximately $1 Billion of invoices comprising the corporation’s annual revenue, while assuming responsibility for manual invoice editing and the correction of billing interface errors.</li>
							<li>Supervise and train a team of 4 cash application coordinators and 2 billing administrators</li>
							<li>Construct work papers for annual and quarterly external audits for billing and accounts receivable functions.</li>
			   		</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/runningLate.jpg') }}" alt= "Running Late">
						<img src= "{{ url_for('static', filename='imgs/circusAnimal.jpg') }}" alt= "Circus Animal">
		  		</div>
		  		<div class="col-sm-12 col-md-8">
		  			<h2>Erasmus, Running Late &amp; Circus Animal Music</h2>
		  			<p>Madison, New Jersey, United States of America</p>
		  			<p><i>Manager</i>, May 2011 - March 2014</p>
		  			<ul>
				  		<li>Manager of promotion, marketing, operations, budgeting and finances of a music project with 20,000 registered followers world wide and over 100,000 website hits across all platforms</li>
							<li>Increased the groups online following from 1,200 followers to 20,000 followers during tenure as manager</li>
							<li>Record and budget expenses (travel, marketing) and revenues (from ticket and merchandise sales) for project totaling $40,000 in FY 2012</li>
							<li>Notable accomplishments include: booking of 40 performances in the greater New York area and management of the recording and release of an EP and full-length album with 3 singles, the filming of a music video and full-length live show, three professional photo shoots, and $5,000 of merchandise sales.</li>
			   		</ul>
		  		</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/mspc.png') }}" alt= "MSPC">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>MSPC - Certified Public Accountants &amp; Advisors</h2>
						<p>Cranford, New Jersey, United States of America</p>
						<p><i>Staff Accountant</i>, January 2011 - May 2011</p>
						<ul>
							<li>Member of four selected audit teams with clients ranging from small partnerships to corporations</li>
							<li>Managed the control of confirmations for annual audits pertaining to cash, accounts receivable, accounts payable, legal department, related parties, lease agreements, and insurance</li>
							<li>Conducted inventory counts on site for various merchandising and manufacturing clients</li>
							<li>Prepared work papers for multiple aspects of each audit including the audit of cash, the revenue cycle, and the expenditure cycle</li>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/mirra.png') }}" alt= "Mirra">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Mirra &amp; Associates, LLC</h2>
						<p>Hillsborough, New Jersey, United States of America</p>
						<p><i>Intern / Accountant</i>, August 2008 - May 2009</p>
						<ul>
							<li>Assisted in the audit of approximately 250 condominium complexes operated by ten management companies throughout New Jersey.</li>
							<li>Prepared work papers pertaining to multiple aspects of each audit including revenue cycles, cash disbursements, and receivables.</li>
							<li>Drafted annual financial statements including the balance sheet, income statement, and statement of cash flows for approximately 250 companies.</li>
							<li>Member of a selected auditing team, partaking in multiple field visits at various clients.</li>
						</ul>
					</div>
				</div>
		  </section>
			<section>
				<div class="row head" id="coursework">
					<div class="col-sm-12">
						<a onclick="openClose('coursework')">
							<i id="courseworkIcon" class="fa fa-minus-circle fa-2x"></i>
						</a>
						<h1>Coursework</h1>
						<a href="#top">
							<img src= "{{ url_for('static', filename='imgs/arrowUp.png') }}" alt= "Arrow Up">
						</a>
		  		</div>
				</div>
			</section>
			<section id="courseworkContent" class="cvContent">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/oxfordCrest.png') }}" alt= "Oxford Crest">
		  		</div>
					<div class="col-sm-12 col-md-8">
						<h2>IT Coursework</h2>
						<ul>
							<li>System Development Lifecycle &amp; Management</li>
							<li>System Analysis &amp; Design - Data Driven &amp; Procedural Techniques</li>
							<li>System Analysis &amp; Design - Data Organization</li>
							<li>System Analysis &amp; Design - Objects &amp; Architecture</li>
							<li>Computer Applications for Business</li>
							<li>Accounting Information Systems</li>
							<li>Advanced Accounting Information Systems</li>
							<li>Management Information Systems</li>
							<li>Calculus</li>
							<li>Accounting in the Digital Era</li>
						</ul>
					</div>
				</div>
				<hr class="cv">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img src= "{{ url_for('static', filename='imgs/rutgersCrest.png') }}" alt= "Rutgers Crest">
						<img src= "{{ url_for('static', filename='imgs/rutgersBusiness.png') }}" alt= "Rutgers Business">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Business Coursework</h2>
						<ul>
							<li>Microeconomics</li>
							<li>Macroeconomics</li>
							<li>Statistical Methods of Business</li>
							<li>Financial Accounting</li>
							<li>Financial Management</li>
							<li>Principles of Management</li>
							<li>Marketing</li>
							<li>Business Law</li>
							<li>Operations Management</li>
							<li>Managerial Accounting</li>
							<li>Intermediate Accounting</li>
							<li>Business Policy &amp; Strategy</li>
							<li>Cost Accounting</li>
							<li>Concepts of Auditing</li>
							<li>Income Tax Accounting</li>
							<li>Entrepreneurship</li>
							<li>Advanced Accounting</li>
							<li>Advanced Auditing</li>
							<li>Business Valuations</li>
							<li>Ethics in Business</li>
						</ul>
					</div>
				</div>
		  </section>
		</div>
	</main>

{% endblock %}

{% block footer %}

	<footer>

{% endblock %}
