{% extends 'base.html' %}

{% block title %}

About

{% endblock %}

{% block body %}

	<body>

{% endblock %}

{% block header %}

	<header>

{% endblock %}

{% block main %}

<main class="about">
	<div class="container">
		<div class="row head">
			<div class="col-sm-12">
				<h1>About Me</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<img src= "{{ url_for('static', filename='imgs/albertHall.jpg') }}" alt= "Albert Hall">
			</div>
			<div class="col-sm-12 col-md-8">
				<p>
					I first discovered my passion for IT in 2011 during my tenure as a Music Industry Manager. It was through this role that I received the opportunity to assist with web design and online promotion for three music projects. I was able to utilize my basic HTML, CSS and JavaScript skills in a professional capacity, which I had learned from Rutgers University’s Computer Applications course. I am proud to say that the online following of the music projects rose from 1,500 followers to over 20,000 during my time in this role. Furthermore, our efforts led to a production contract with a “Platinum Record Winning” Producer and also a record contract with an indie label. Similar to the composition of music itself, I greatly enjoyed the creative nature of these IT-routed tasks along with the opportunity to solve problems through the utilization of imperative knowledge.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<img src= "{{ url_for('static', filename='imgs/reichstag.jpg') }}" alt= "Reichstag">
			</div>
			<div class="col-sm-12 col-md-8">
				<p>
					My interest in IT was later reaffirmed when I accepted employment as an Accountant for Covanta Energy. In this role, I utilized and gained competency with the company’s ERP system, Oracle PeopleSoft. Although my position was in Accountancy, I began to realize that I had a passion for learning about PeopleSoft as an Accounting Information System. This provoked a desire to become more knowledgeable in IT in general. As my assignment progressed, I developed a closer relationship with the PeopleSoft Consultants and Technical Support Teams in an effort to acquire additional IT-skills on the job.
				</p>
				<p>
					In October 2015, I made the choice to leave Covanta and re-enroll at university to formally begin my IT education with the intention of eventually completing a full transition into a Software Engineering career. I began studies as a part-time student of the Advanced Diploma in Data & Systems Analysis program at the University of Oxford. It was through this program that I was first introduced to the software development lifecycle. The program also re-enforced my understanding of database design and object-oriented programming. The course culminated in a final project in which we designed a database and software system for a fictitious company. I am proud to say that I graduated from the program with a 98.20% course average and earned distinction.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<img src= "{{ url_for('static', filename='imgs/stonePony.jpg') }}" alt= "Manager Shot">
			</div>
			<div class="col-sm-12 col-md-8">
				<p>
					After my studies concluded, I accepted an internship in Business Intelligence at the Berlin start-up company, Move24. It was in this role that I first began to put my newly acquired skillset to use by applying SQL daily to query the company’s databases. I was also introduced to Python in order to extract data as necessary from various sources. At the conclusion of my internship, I began my first fulltime “tech-role” as a Senior Product Analyst within the Data Integration team at Wayfair. In this role, I received the opportunity assist with monitoring and troubleshooting data transfers at an enterprise-scale with the company’s EU business partners. I also continued to utilize my business intelligence skillset to create, calculate and analyze KPI’s for presentation to Senior Management. This eventually led to a Technical Product Manager role in which I continuously drove tech-related projects across multiple engineering departments to achieve data integration objectives.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<img src= "{{ url_for('static', filename='imgs/brandenburgerTorCrop.jpg') }}" alt= "Brandenburger Tor">
			</div>
			<div class="col-sm-12 col-md-8">
				<p>
					I am proud to say that I completed a full transition into the Engineering Department at Wayfair in August 2018 where I remain employed as a Software Engineer within the Payments Department. Our function is to implement new features and resolve bugs pertaining to Wayfair's Global Payments Platform while maintaining our integrations with Payment Service Providers.
				</p>
				<p>
					My IT journey thus far has been nothing short of amazing! I personally feel just as passionate today as when I started, and I am very excited to see what the future has in store as I continue my journey.
				</p>
				<p>
					Thank you for taking the time to visit my site!
				</p>
			</div>
		</div>
	</div>
</main>

{% endblock %}

{% block footer %}

	<footer>

{% endblock %}
