{% extends 'base.html' %}

{% block title %}

Contact

{% endblock %}

{% block body %}

	<body>

{% endblock %}

{% block header %}

	<header>

{% endblock %}

{% block main %}

	<main class="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<img src= "{{ url_for('static', filename='imgs/headShot.jpg') }}" alt= "Head Shot">
				</div>
		    <div class="col-sm-12 col-md-7">
					<div class="contactText">
						<h2>Thank you again for visiting my site!</h2>
						<p>If you wish to contact me directly, please feel free to do so at aebarretti87@gmail.com.</p>
					</div>
				</div>
			</div>
			<hr class="contact">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/linkedIn.png') }}" alt= "LinkedIn"/>
					</a>
				</div>
				<div class="col-sm-12 col-md-7">
					<p>You can also connect and message me on <a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" target="_blank">LinkedIn</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<a href="https://github.com/abarretti/" class="image" target="_blank">
						<img src= "{{ url_for('static', filename='imgs/gitHubMain.png') }}" alt= "Github"/>
					</a>
				</div>
				<div class="col-sm-12 col-md-7">
					<p>... or follow me on <a href="https://github.com/abarretti/" target="_blank">Github</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<a href="https://www.hackerrank.com/aebarretti87/" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/hackerRank.png') }}" alt= "hackerRank Logo"/>
					</a>
				</div>
				<div class="col-sm-12 col-md-7">
					<p>and <a href="https://www.hackerrank.com/aebarretti87/" target="_blank">HackerRank</a>!</p>
				</div>
			</div>
			<hr class="contact">
			<div class="row">
				<div class="col-sm-12">
					<p>Check out my profiles on <a href="https://www.coursera.org/user/f4d3550b3ade029ff335f7125cdbed51" target="_blank">Coursera</a>, <a href="https://www.udemy.com/user/anthony-barretti/" target="_blank">Udemy</a>, <a href="https://exercism.io/profiles/abarretti/" target="_blank">Exercism</a> and <a href="https://www.codecademy.com/aebarretti87/" target="_blank">Codeacademy</a> as well.</p>
				</div>
			</div>
			<div class="row profile">
				<div class="col-6 col-sm-3">
					<a href="https://www.coursera.org/user/f4d3550b3ade029ff335f7125cdbed51" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/courseraMain.png') }}" alt= "Coursera Logo"/>
					</a>
				</div>
				<div class="col-6 col-sm-3">
					<a href="https://www.udemy.com/user/anthony-barretti/" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/udemyU.png') }}" alt= "Udemy Logo"/>
					</a>
				</div>
				<div class="col-6 col-sm-3">
					<a href="https://exercism.io/profiles/abarretti/" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/exercismMain.png') }}" alt= "Exercism Logo"/>
					</a>
				</div>
				<div class="col-6 col-sm-3">
					<a href="https://www.codecademy.com/profiles/aebarretti87/" class="image" target="_blank">
						<img src="{{ url_for('static', filename='imgs/codeAcademyMain.png') }}" alt= "CodeAcademy Logo"/>
					</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block footer %}

	<footer>

{% endblock %}
